.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: hsl(217, 19%, 24%);
  color: hsl(193, 38%, 86%);
  display: flex;
}

.card__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card__title {
  color: hsl(150, 100%, 66%);
}

.card-body__advice {
  padding: 15px;
  font-size: 28px;
}

.card__footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card__footer img {
  width: 80%;
}

.card__button {
  border-radius: 50%;
  cursor: pointer;
  padding: 15px;
  display: flex;
  text-align: center;
  background-color: hsl(150, 100%, 66%);
}

.card__button:hover {
  background-color: hsl(217, 19%, 24%);
  border-color: hsl(150, 100%, 66%);
}

@media (max-width: 410px) {
  .card {
    width: auto;
    padding: 20px;
  }
}
